<div class="head_div">
  <mat-toolbar color="primary">
      <!--<span><img src="/assets/images/logo.png" height=30 width=41></span>-->
      <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
      <a mat-button routerLink="/studyons" routerLinkActive="active"> Stadyons</a>
      <a mat-button routerLink="/people" routerLinkActive="active"> People</a>
      <span class="flex-spacer"></span>
      <a mat-button (click)="openSignupForm()">Sign Up</a>
      <a mat-button (click)="openLoginForm()">Login</a>
  </mat-toolbar>
</div>
