<div class="container"
     fxLayout="column"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutGap="10px">
  <h2>
    Here you can find your friends.
  </h2>
  <form novalidate #searchForm="ngForm" (ngSubmit)="onSubmit()" fxFlex>
    <mat-dialog-content style="max-width: 500px">
      <input matInput [(ngModel)]="user.username" type="text" name="username" fxFlex
            #username="ngModel" placeholder="enter username">
      <button mat-button type="submit" class="background-primary text-floral-white"
              [disabled]="searchForm.form.invalid">Search</button>
    </mat-dialog-content>
  </form>
  <div>
    <h2 *ngIf="users"> Results </h2>
    <mat-list *ngIf="users">
      <mat-list-item *ngFor="let user of users" [routerLink]="['/',user._id]">
        <h4 matLine> {{user.username}} </h4>
        <p matLine> {{user.firstname}}</p>
        <p matLine>{{user.lastname}}</p>
      </mat-list-item>
    </mat-list>
    <div [hidden]="users || errMess">
      <!--<mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>-->
    </div>
    <div *ngIf="errMess">
      <h2>Error</h2>
      <h4>{{errMess}}</h4>
    </div>
  </div>
<div>

