<div class="container"
     fxLayout="column"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutGap="10px">

  <div>
    <h2>Welcome!</h2>
    <p>
      This is a place where u can communicate with other people for experience and knowledge exchange.
    </p>
    <h3>How to start?</h3>
    <p>
      First of all you need to create an account if you dont have it. Then you can add some extra information about
      yourself in the profile.
    </p>
    <p>
      If you want to create or join to some discussion you can find it in
      <a routerLink="/studyons">Stadyons page</a> (only for authorised users).
    </p>
    <p>
      If you want to find your friends then go to <a routerLink="/people"> People page</a> (only for authorised users).
    </p>
    <h3>
      Please.
    </h3>
    <mat-list>
      <mat-list-item>  Be polite. </mat-list-item>
      <mat-list-item> Do not use obscene language.</mat-list-item>
      <mat-list-item> Try not to spam with small messages.</mat-list-item>
    </mat-list>
  </div>
</div>
